@if (@TempData["CustomerId"] == null)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

else if (@TempData["CustomerId"].ToString() == "Admin")
{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Liquor Store</h1>
    <h1>About us</h1>
    <h1>Author: hao</h1>

</div>
