@if (@TempData["CustomerId"] == null)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

else if (@TempData["CustomerId"].ToString() == "Admin")
{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Liquor Store</h1>
    <img src ="https://dwzg4by77d66i.cloudfront.net/assets/share_image_default-0de69ab4de4075279aadf1c006572d75b969da15ecdf3d797c3ab160b2f5f5e9.jpg" alt="Store image"/>
    <h1>Author: hao</h1>

</div>
