
@{
    ViewData["Title"] = "ShowAllCustomerName";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ShowAllCustomerName</h1>
<p>@ViewBag.allName</p>
<br />
<div>
    <a asp-action="Index">Back</a>
</div>

